<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Add Album: {{title}}</title>
       
    </head>
    <body>
      <!-- <script>
       
       <nav>
        <ul>
            <li><a href="/">ALBUMS LIST</a></li>
            <li><a href="detail.html">DETAILS</a></li>
            <li><a href="add.html">ADD ALBUM</a></li>
            <li><a href="delete.html">DELETE ALBUM</a></li>
                
            </ul>
            </nav> 
    </script> -->
          
{{#if add}}
<h2>Adding {{title}}:</h2>
  <p>Album Title: {{album.title}}</p>
  <p>Artist: {{album.artist}}</p>
  <p>Studio: {{album.studio}}</p>
  <p>Genre: {{album.genre}}</p>
   
{{else}}
  <p>Sorry, {{title}} already exists.<p>
{{/if}}
  <p><a href="home">Home Albums page</a></p>
    
    </body>

</html>
