<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Delete Album: {{title}}</title>
       
    </head>
    <body>
    <!-- <script>
       
       <nav>
        <ul>
            <li><a href="/">ALBUMS LIST</a></li>
            <li><a href="detail.html">DETAILS</a></li>
            <li><a href="add.html">ADD ALBUM</a></li>
            <li><a href="delete.html">DELETE ALBUM</a></li>
                
            </ul>
            </nav> 
    </script> -->
          
{{#if delete}}
<h2>Deleting {{title}}:</h2>
  <p>Album Title: {{result.title}}</p>
  <p>Artist: {{result.artist}}</p>
  <p>Studio: {{result.studio}}</p>
  <p>Genre: {{result.genre}}</p>
   
{{else}}
  <p>Sorry, {{title}} does not exist.<p>
{{/if}}
  <p><a href="home">Home Albums page</a></p>
    
    </body>

</html>
